doctype html
html(lang='en')
  head
    title Anatomy
    link(rel='stylesheet', href='/skin/dermis/normalize.css')
    link(rel='stylesheet', href='/skin/dermis/foundation.min.css')
    link(rel='stylesheet', href='/skin/dermis/epidermis.css')
  body
    h1 Anatomy
    p Thanks for using Anatomy!
